<div>
    <nav class="d-flex">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-airplane-fill"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datagrid">
                <i class="bi bi-grid-3x3"></i> Data Grid
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <i class="bi bi-bell-fill"></i> Notifications
            </NavLink>
        </div>
    </nav>

</div>
