/* /Components/DataFilter/CalendarDatePicker.razor.rz.scp.css */
.calendar-view[b-l8nazugstk] {
    border: 1px solid gray;
    font-size: .8em;
    text-align: center;
    width: fit-content;
    padding: .4em;
    margin: 1.1em;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    position: absolute;
    background-color: white;
    z-index: 100;
}

.select-year-month[b-l8nazugstk] {
    background-color: lightgray;
    border-radius: 15px;
}

.calendar-table[b-l8nazugstk] {
    background-color: white;
    display: grid;
}

.next[b-l8nazugstk], .prev[b-l8nazugstk] {
    cursor: pointer;
}
/* /Components/DataFilter/CalendarDay.razor.rz.scp.css */
.selected[b-rs8ngy3tpb] {
    border: 2px solid gray;
    font-weight: 700;
    color: red;
}

.muted[b-rs8ngy3tpb] {
    background-color: darkgray;
}

.today[b-rs8ngy3tpb] {
    background-color: lightgray;
}
/* /Components/DataFilter/FilterItem.razor.rz.scp.css */
.slider-value[b-28hoqp1fye]{
    display: inline-block;
    width: 2rem;
}

.fit-content[b-28hoqp1fye]{
    max-width:fit-content;
}
/* /Components/DataFilter/SimpleDatePicker.razor.rz.scp.css */
.input-container[b-f7z1l91ys1] {
    position: relative;
}

.fullscreen[b-f7z1l91ys1] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.hidden[b-f7z1l91ys1] {
    visibility: hidden;
}

button[b-f7z1l91ys1] {
    font-size: small;
}
/* /Components/DataGrid/GridItem.razor.rz.scp.css */
.grid-cursor-pointer span[b-7eaok5l3zb] {
    cursor: pointer;
}

.filter[b-7eaok5l3zb] {
    padding: 0.5rem;
    position: absolute;
    left: 15px;
    top: -30px;
    background-color: blanchedalmond;
    box-shadow: 0 3px 8px 1px #aaa;
    border-color: #ddd;
    border-radius: 0.3rem;
    width: max-content;
    z-index: 110;
}

.visible[b-7eaok5l3zb] {
    visibility: visible;
}

.invisible[b-7eaok5l3zb] {
    visibility: hidden;
}

.filter-option[b-7eaok5l3zb] {
    border: none;
    padding: 0;
    width: 1rem;
    align-self: stretch;
    background: transparent;
    margin-right: 0.2rem;
}

.filter-option-full[b-7eaok5l3zb] {
    border: none;
    padding: 0;
    width: 1rem;
    align-self: stretch;
    background: transparent;
}

.header-content[b-7eaok5l3zb] {
    position: relative;
    display: flex;
    align-items: center;
}

.label-content[b-7eaok5l3zb] {
    align-items: center;
    display: flex;
    flex-grow: 1;
    white-space: nowrap;
}

.grid-filter-z[b-7eaok5l3zb] {
    z-index: 100;
}
/* /Components/DataGrid/GridRow.razor.rz.scp.css */
.grid-cursor-pointer[b-ymyixb686v] {
    cursor: pointer;
}
/* /Components/Notifications/MessageComponent.razor.rz.scp.css */
.notification[b-s6nlqkjuys] {
    padding: 1.5rem;
    color: #fff;
    width: 25rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    -webkit-animation: fade-in 0.3s ease-in both;
    animation: fade-in-b-s6nlqkjuys 0.3s ease-in both;
}

.notification-header[b-s6nlqkjuys] {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: end;
}

.notification-body[b-s6nlqkjuys] {
}


@keyframes fade-in-b-s6nlqkjuys {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* /Components/Notifications/NotificationComponent.razor.rz.scp.css */
.notification-container[b-fcjm52knx7] {
    z-index: 500;
    left: 50%;
    transform: translate(-50%,0%);
}
/* /Components/Paginator/Paginator.razor.rz.scp.css */
.paginator[b-m0b1nv0xcs] {
    display: flex;
    border-top: 1px solid #ccc;
    margin-top: 0.5rem;
    padding: 0.25rem 0;
    align-items: center;
}

.pagination-text[b-m0b1nv0xcs] {
    margin: 0 0.5rem;
}

nav[b-m0b1nv0xcs] {
    display: flex;
    margin-left: auto;
    gap: 0.5rem;
    align-items: center;
}

    nav button[b-m0b1nv0xcs] {
        border: 0;
        background: none center center / 1rem no-repeat;
        width: 2rem;
        height: 2rem;
    }

        nav button[disabled][b-m0b1nv0xcs] {
            opacity: 0.4;
        }

        nav button:not([disabled]):hover[b-m0b1nv0xcs] {
            background-color: #eee;
        }

        nav button:not([disabled]):active[b-m0b1nv0xcs] {
            background-color: #aaa;
        }

.go-first[b-m0b1nv0xcs], .go-last[b-m0b1nv0xcs] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-end-fill" viewBox="0 0 16 16"> <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/> </svg>');
}

.go-previous[b-m0b1nv0xcs], .go-next[b-m0b1nv0xcs] {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16"> <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/> </svg>');
}

.go-previous[b-m0b1nv0xcs], .go-first[b-m0b1nv0xcs] {
    transform: scaleX(-1);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-o4usi3lo52] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-o4usi3lo52] {
    flex: 1;
}

.sidebar[b-o4usi3lo52] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-o4usi3lo52] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-o4usi3lo52]  a, .top-row[b-o4usi3lo52]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-o4usi3lo52]  a:hover, .top-row[b-o4usi3lo52]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-o4usi3lo52]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-o4usi3lo52] {
        display: none;
    }

    .top-row.auth[b-o4usi3lo52] {
        justify-content: space-between;
    }

    .top-row[b-o4usi3lo52]  a, .top-row[b-o4usi3lo52]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-o4usi3lo52] {
        flex-direction: row;
    }

    .sidebar[b-o4usi3lo52] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-o4usi3lo52] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-o4usi3lo52]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-o4usi3lo52], article[b-o4usi3lo52] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
