@attribute [TestClass]
@inherits BunitTestContext

@code
{
    // [TestMethod]
    // public void DataGridComponentRendersCorrectly()
    // {
    //     // Act
    //     var cut = Render(@<DataGrid TItem="object" />);
    //     // Assert
    //     cut.MarkupMatches(
    //         @<table class="table">
    //             <thead diff:ignoreChildren></thead>
    //             <tbody></tbody>
    //         </table>
    //     );
    // }

    // [TestMethod]
    // public void DataGridHeaderComponentRendersCorrectly()
    // {
    //     var cut = Render(@<DataGrid TItem="object" />);

    //     var dataGridHeader = cut.FindComponent<DataGridHeader<object>>();

    //     cut.Find("thead")
    //     .ChildNodes
    //     .MarkupMatches(dataGridHeader);
    // }

   





}
