@attribute [TestClass]
@inherits BunitTestContext

@code
{

    private List<SearchMeasurementListItem> testData;

    // [TestMethod]
    // public void DataGridRendersDefault()
    // {
    // var testData = DataGridProject.BogusData.GetData();
    //     var cut = Render(
    // @<DataGrid Items="testData" class="table-striped">

    // </DataGrid>
    //      );

    //     var test = DataGridUtils.GetItemsPropertyInfo<SearchMeasurementListItem>()
    //   .Select(x => x.GetValue(testData));

    // }

    [TestInitialize]
    public void Init()
    {
        testData = DataGridProject.BogusData.GetData(10);
    }

    #region DataGrid Tests
    [TestMethod]
    public void DataGridRendersWithoutErrors()
    {

        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">

        <GridItem Field="Id"></GridItem>
        <GridItem Field="MeasurementName"></GridItem>
        <GridItem Field="HasBreakdowns"></GridItem>
        <GridItem Title="HasBreakdowns"></GridItem>

    </DataGrid>
    );
    }

    [TestMethod]
    public void DataGridRendersCorrectly()
    {
        //Should this throw an error since it does not render "Name" anywhere?
        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">

        <GridItem Field="Id"></GridItem>
        <GridItem Field="MeasurementName">Name</GridItem>
    </DataGrid>
        );

        cut.MarkupMatches(
    @<div>
        <table class="table table-striped">
            <thead>
                <tr diff:ignoreChildren>
                </tr>
            </thead>
            <tbody diff:ignoreChildren>
            </tbody>
        </table>
    </div>
        );

        var headers = cut.FindAll("th");
        headers.Count.Should().Be(2);
        headers.First().TextContent.Trim().Should().Be("Id");
        headers.Last().TextContent.Trim().Should().Be("MeasurementName");

        var tableBody = cut.Find("tbody");
        tableBody.ChildElementCount.Should().Be(10);
    }

    [TestMethod]
    public void DataGridDuplicateFieldThrowsException()
    {

        Assert.ThrowsException<Exception>(() =>
        Render(
    @<DataGrid Items="testData" class="table-striped">

        <GridItem Field="Id"></GridItem>
        <GridItem Field="Id"></GridItem>
        <GridItem Field="MeasurementName">Name</GridItem>
    </DataGrid>
        )
    );

    }
    #endregion
    #region GridItem Tests
    [TestMethod]
    public void GridItemDoesNotIndependentlyRender()
    {
        Assert.ThrowsException<ArgumentNullException>(
        () => Render(
    @<GridItem TGridItem="object"></GridItem>
        ));

    }

    [TestMethod]
    public void GridItemThrowsExceptionForInvalidField()
    {
        Assert.ThrowsException<ArgumentException>(() => Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Field="Test"></GridItem>
    </DataGrid>
        ));

    }

    [TestMethod]
    public void GridItemThrowsExceptionForEmptyFieldWithSortable()
    {
        Assert.ThrowsException<ArgumentException>(() => Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Title="Name" IsFilterable></GridItem>
     </DataGrid>
        ));

    }

    [TestMethod]
    public void GridItemThrowsNullExceptionForEmptyFieldTitleTemplate()
    {
        Assert.ThrowsException<ArgumentNullException>(() => Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem></GridItem>
    </DataGrid>
    ));

    }

    [TestMethod]
    public void GridItemSetsFieldCorrectly()
    {
        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Title="Testing" />
    </DataGrid>
    );
        var gridItem = cut.FindComponent<GridItem<SearchMeasurementListItem>>().Instance;
        gridItem.Field.Should().NotBeEmpty();
        gridItem.Field.Should().NotBe("Testing");
    }

    [TestMethod]
    public void GridItemIsNotSortableorFilterableByDefault()
    {

        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Title="Testing">
        </GridItem>
    </DataGrid>
    );
        var gridItem = cut.FindComponent<GridItem<SearchMeasurementListItem>>().Instance;
        gridItem.IsSortable.Should().BeFalse();
        gridItem.IsFilterable.Should().BeFalse();
    }

    [TestMethod]
    public void GridItemIsSortableWhenSet()
    {

        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Title="Testing" IsSortable>
        </GridItem>
    </DataGrid>
        );
        var gridItem = cut.FindComponent<GridItem<SearchMeasurementListItem>>().Instance;
        gridItem.IsSortable.Should().BeTrue();
    }

    [TestMethod]
    public void GridItemIsFilterableWhenSet()
    {

        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Field="EndDate" IsFilterable />
     </DataGrid>
        );
        var gridItem = cut.FindComponent<GridItem<SearchMeasurementListItem>>().Instance;
        gridItem.IsFilterable.Should().BeTrue();
    }

    [TestMethod]
    public void GridItemIsFilterableWithTemplate()
    {
        var sliderValue = 0;
        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Title="Testing">
            <FilterTemplate>
                <p>Value: <input type="range" @bind="sliderValue" @bind:event="oninput" min="0" max="250" /> <span class="inline-block w-10">@sliderValue</span></p>
            </FilterTemplate>
        </GridItem>
    </DataGrid>
        );
        var gridItem = cut.FindComponent<GridItem<SearchMeasurementListItem>>().Instance;
        gridItem.IsFilterable.Should().BeTrue();
    }

    [TestMethod]
    public void GridItemsGetsCorrectClasses()
    {

        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Field="Id" IsSortable />
         <GridItem Field="BrandName" IsFilterable />
     </DataGrid>
        );
        var gridItems = cut.FindComponents<GridItem<SearchMeasurementListItem>>();

        gridItems.All(x => x.Instance.ClassNames.Contains("cursor-pointer")).Should().BeTrue();

    }
    #endregion
    #region GridRow Tests
    [TestMethod]
    public void GridRowRendersCorrectly()
    {

        var cut = Render(
    @<DataGrid Items="testData" class="table-striped">
        <GridItem Field="Id" IsSortable />
         <GridItem Field="BrandName" IsFilterable />
     </DataGrid>
    );
        var gridRow = cut.FindComponent<GridRow<SearchMeasurementListItem>>();
        var fields = cut.FindComponents<GridItem<SearchMeasurementListItem>>()
        .Select(x => x.Instance.Field)
        .ToList();

        gridRow.Nodes.Length.Should().Be(10);
        gridRow.Instance.Items.Except(testData).Count().Should().Be(0);
        gridRow.Instance.ColumnFields.Except(fields).Count().Should().Be(0);
    }


    #endregion
}
