@attribute [TestClass]
@inherits BunitTestContext

@code
{
    [TestMethod]
    public void HelloWorldComponentRendersCorrectly()
    {
        // Act
        var cut = Render(@<DataGrid Items="object"/>);

        // Assert
        cut.MarkupMatches(@<h1>Hello world from Blazor</h1>);
    }
}
