@namespace DataGridProject.Components
<td class="@(isSelected?"selected":"") @(isToday? "today":"") @(isPartOfMonth? "":"muted")" @onclick="HandleClick">@thisDay.Day</td>


@code {
    [Parameter]
    public DateTime? SelectedDate { get; set; }

    [Parameter, EditorRequired]
    public int Offset { get; set; }

    [Parameter, EditorRequired]
    public DateTime ShowingMonth { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<DateTime> DayChanged { get; set; }

    private DateTime thisDay => ShowingMonth.AddDays(Offset);
    private bool isSelected => thisDay.CompareTo(selectedDate) == 0;
    private bool isToday => thisDay.CompareTo(DateTime.Today) == 0;
    private bool isPartOfMonth => thisDay.Month == ShowingMonth.Month;
    private DateTime selectedDate;
    protected override void OnParametersSet()
    {
        if (SelectedDate.HasValue)
            selectedDate = SelectedDate.Value;
        else
            selectedDate = ShowingMonth;
    }
    void HandleClick()
    {
        DayChanged.InvokeAsync(thisDay);
    }
}
