@inherits UIComponentBase
@typeparam TGridItem
@attribute [CascadingTypeParameter(nameof(TGridItem))]


@if (!NoRender)
{
    <CascadingValue Value="this">
        <table class="@ClassNames">
            <thead>
                <tr>
                    @foreach (var item in GridItems)
                    {
                        @item.ItemHeader;                   
                    }
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
        @ChildContent
    </CascadingValue>

}




@code {


    [Parameter]
    public IEnumerable<TGridItem> Items { get; set; } = Enumerable.Empty<TGridItem>();

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private List<GridItem<TGridItem>> GridItems { get; set; } = new();

    protected override void OnParametersSet()
    {
        classBuilder
            .Begin("table");
    }


    internal void AddItem(GridItem<TGridItem> gridItem)
    {
        GridItems.Add(gridItem);
        StateHasChanged();
    }

}
