@typeparam TGridItem

<tr>
    @foreach (var columnData in GetItemData(Item))
    {
        <td>@columnData</td>
    }
</tr>



@code
{

    [Parameter]
    public TGridItem Item { get; set; }

    private IEnumerable<object> GetItemData(TGridItem item)
        => DataGridUtils.GetItemsPropertyInfo<TGridItem>()
            .Select(x => x.GetValue(item));

}
