.paginator {
    display: flex;
    border-top: 1px solid #ccc;
    margin-top: 0.5rem;
    padding: 0.25rem 0;
    align-items: center;
}

.pagination-text {
    margin: 0 0.5rem;
}

nav {
    display: flex;
    margin-left: auto;
    gap: 0.5rem;
    align-items: center;
}

    nav button {
        border: 0;
        background: none center center / 1rem no-repeat;
        width: 2rem;
        height: 2rem;
    }

        nav button[disabled] {
            opacity: 0.4;
        }

        nav button:not([disabled]):hover {
            background-color: #eee;
        }

        nav button:not([disabled]):active {
            background-color: #aaa;
        }

.go-first, .go-last {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-end-fill" viewBox="0 0 16 16"> <path d="M12.5 4a.5.5 0 0 0-1 0v3.248L5.233 3.612C4.693 3.3 4 3.678 4 4.308v7.384c0 .63.692 1.01 1.233.697L11.5 8.753V12a.5.5 0 0 0 1 0V4z"/> </svg>');
}

.go-previous, .go-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16"> <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/> </svg>');
}

.go-previous, .go-first {
    transform: scaleX(-1);
}
